*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@media screen and (min-width: 1160px){
    
body {

    display: flex;
        
 }
}
.Container{
    justify-content: center;
}
.About_me{
 border-radius: 10px;
 border: 1em;
margin: 1em;
 background-color: silver;
 padding: 1em; 
display: grid;
background-image: url(Table-Mountain.jpg);
}
.city{
border-radius: 10px;
border: 1em;
margin: 1em;
background-color: silver;
padding: 1em;
}


.Foreign_language{
    border-radius: 10px;
    border: 1em;
    margin: 1em;
    background-color:silver;
    padding: 1em; 
}
.Favourite_subjects{
border-radius: 10px;
border: 1em;
margin: 1em;
background-color: silver;
padding: 1em;
}

.Historical_places{
border-radius: 10px;
border: 1em;
margin: 1em;
background-color: silver;
padding: 1em;

}

    h1{
        text-align: center;
    }

    h2{
        text-align: center;
    }
img{
    height: 250px;
    width: 400px;
    left: -862px;
    top: 130px;
    border-radius: 10px;
    float: right;
}

table, tr, td{
border: 1px solid
}
table.center {
 margin-left: auto; 
 margin-right: auto;
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
} 
@media  screen and (min-width: 900px) {
    
.subjects{
    display: flex;
    justify-content: space-evenly;

}
.subjects li{
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 24%;
    display: block;
    padding: 5px;
}
.places{
    display: flex;
    justify-content: space-evenly;
}
.places li{
    border: 1px  gray;
    border-radius: 10px;
    max-width: 30%;
    display: block;
    padding: 5px;
}
.picture1{
    width: 360px;
}
.picture2{
    width: 360px;
}
.picture3{
    width: 360px;
}
.mbombela{
    display: flex;
    justify-content: space-evenly;
}
.mbombela p{
    border: 1px gray;
    border-radius: 10px;
    max-width: 50%;
    display: block;
    padding: 5px; 
}
}